@using Microsoft.AspNet.Identity
@if (Session["loggedUser"] != null)
{
    user user = (user)Session["loggedUser"];
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li href="#"> <a href="javascript:void(0)">@user.user_FullName</a> </li>
            <li href=""><a href="@Url.Action("Logout", "Authentication")"> Logout </a></li>
        </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Authentication", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "index", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
